body {
	padding: 0;
	margin: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 40px 2px #dbdbdb;
	        box-shadow: 0 0 40px 2px #dbdbdb;
}

.main-navigation {
	margin: 0;
	padding: 15px 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-navigation li {
	width: 240px;
}

.main-navigation li:first-child,
.main-navigation li:nth-child(2) {
	text-align: left;
}

.main-navigation li:nth-child(2) {
	margin-right: auto;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
	text-align: right;
}

.main-nav a {
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
	color: #81b3d2;
}

.main-nav a:active {
	opacity: 0.3;
}

.main-nav a.current-page {
	color: #766357;
}

.main-navigation,
.social-navigation {
	list-style: none;
}

.main-nav {
	position: relative;
}

.logo {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 530px;
}

.welcome-sedona {
	position: relative;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-bottom: 60px;
	background-image: url("../img/mask.png"), url("../img/background.jpg");
	background-repeat: no-repeat no-repeat;
	background-position-y: 451px, -55px; 
}

.welcome-text {
	text-align: center;
}

.about-sedona {
	margin-bottom: 50px;
}

.about-sedona b {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 315px;
	margin-bottom: 15px;
}

.about-sedona p {
	line-height: 26px;
	text-align: center;
}

.content-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;	
}

.content-block:nth-child(3) {
	margin-bottom: 55px;
}

.content-block:nth-child(4) {
	margin-bottom: 68px;
}

.content-block:nth-child(6) {
	margin-bottom: 50px;
}

.advantages {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 400px;
	padding: 60px;
	padding-top: 46px;
	padding-bottom: 0;
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
}

.longer-text {
	padding-left: 45px;
	padding-right: 45px;
}

.advantages:only-of-type {
	color: #ffffff;
	background-color: #81b3d2;
}

.advantages h2 {
	font-weight: bold;
	font-size: 21px;	
	line-height: 21px;
	display: block;
	width: 160px;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 25px;
}

.advantages span {
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

.advantages p {
	margin: 0;
	margin-bottom: 60px;
}

.image {
	position: relative;
	width: 800px;
	height: 256px;	
	overflow: hidden;
}

.image img {
	-webkit-transform: scaleY(1.57);
	    -ms-transform: scaleY(1.57);
	        transform: scaleY(1.57);
	position: absolute;
	top: -5px;
}

.suggestions h2 {
	color: #000000;
	background-color: #ffffff;
	font-weight: bold;
	font-size: 21px;	
	line-height: 21px;
	display: block;
	width: 160px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.suggestions {
	width: 400px;
	padding-top: 105px;
	padding-right: 55px;
	padding-left: 55px;
	text-align: center;
}

 article:first-child.suggestions {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: top center;
}

article:nth-child(2).suggestions {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;	
	background-position: center 5px;
}

article:nth-child(3).suggestions {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: top center;
}

.hotel-search {
	text-align: center;
}

.hotel-search p {
	line-height: 24px;
}

.hotel-search p:last-of-type {
	margin-bottom: 47px;
}

.hotel-search b {
	font-weight: bold;
	font-size: 30px;	
	line-height: 36px;
	color: #000000;
	background-color: #ffffff;
	display: block;
	margin-bottom: 25px;
}

.search-button,
.form-button {
	font: inherit;
	font-weight: bold;
	font-size: 21px;	
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	border: 0;
}

.search-button {
	width: 570px;
	padding: 30px;
	background-color: #766357;
}

.search-button:hover,
.search-button:focus {
	background-color: #604e43;
} 

.search-button:active {	
	background-color: #503e33;
	color: rgba(255, 255, 255 ,0.3);
}

.map-block {
	position: relative;
}

.search-form {
	position: absolute;
	left: 315px;
	top: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 55px;
	width: 570px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 15px 2px rgba(0, 1, 1, 0.15);
	        box-shadow: 0 0 15px 2px rgba(0, 1, 1, 0.15)
}

.form-button {
	width: 100%;
	margin-top: 55px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #81b3d2;
}

.form-button:hover,
.form-button:focus {
	background-color: #669ec0;
} 

.form-button:active {	
	background-color: #5496bd;
	color: rgba(255, 255, 255 ,0.3);
}

.visiting-dates,
.visitors,
input[type="text"],
input[type="number"] {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;	
	line-height: 26px;
	color: #000000;
}

.visiting-dates {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 29px;
	background-color: #ffffff;
}

.search-form label {
	display: block;
	padding-top: 5px;
	margin-right: 10px;
}

.visiting-dates label,
.adults {
	width: 103px;
}

.children {
	width: 56px;
}

.visitors {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.visitors:first-of-type {
	width: 228px;
	margin-right: 52px;
}

.visitors:nth-of-type(2) {
	width: 180px;
}

.visitors-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.visiting-dates input[type="text"] {
	padding: 0;
	padding-left: 13px;
	width: 334px;
	height: 38px;
	background-color: #f2f2f2;
	border: 0;
}

.visitors input[type="text"] {
	padding: 0;
	padding-left: 54px;
	width: 60px;
	height: 38px;
	background-color: #f2f2f2;
	border: 0;
}

.visiting-dates input[type="text"]:hover,
.visitors input[type="text"]:hover {
	background-color: #ebebeb;
}

.visiting-dates input[type="text"]:focus,
.visitors input[type="text"]:focus {
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 0 4px 0 #e5e5e5;
	        box-shadow: inset 0 0 4px 0 #e5e5e5;
	outline: 0; 
}

.calendar {
	position: absolute;
	right: 54px;
	width: 43px;
	height: 38px;
	background-color: rgba(255, 255, 255, 0.1);
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
	border: 0;
}

.more,
.less {	
	width: 38px;
	height: 38px;
	padding: 0;
	position: absolute;
	top: 0;
	font: inherit;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0.3;
	border: 0;
}

.more {
	right: 0;
}

.less {
	right: 80px;
}

.calendar:hover,
.calendar:focus,
.more:hover,
.more:focus,
.less:hover,
.less:focus {
	opacity: 1;
}

.more:active,
.less:active {
	color: #81b3d2;
	opacity: 1;
}

.calendar:active {
	background-image: url("../img/calendar-active.svg");
}

.main-footer {	
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;	

}

.index-page .main-footer {
	position: relative;
	margin-top: -125px;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer div {
	width: 400px;
	padding-top: 36px;
	padding-bottom: 36px;
	text-align: center;
}

.visit-sedona a {
	display: inline-block;
	vertical-align: top;
	padding-top: 9px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.social-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0;
	padding: 0;
}

.social-navigation li:not(:last-child) {
	margin-right: 6px;
}

.social-button {
	display: block;
	width: 46px;
	height: 48px;
	color: #000000;
	background-color: #81b3d2;
}

.twitter {
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.facebook {
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.youtube {
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.main-footer .copyright {
	text-align: left;
}

.copyright span {
	display: inline-block;
	vertical-align: top;
	margin-left: 103px;
	padding-top: 9px;
	line-height: 26px;
	margin-right: 5px;
	color: #000000;
}

.copyright a {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
}

.copyright a:active {
	opacity: 0.3;
	position: absolute;
	right: 125px;
}

.filters {
	color: #ffffff;
	background-color: #6484a0;
	background-image: url("../img/filter-background.png");
	background-repeat: no-repeat;
	background-position-y: -55px;
}

.filters-form {
	padding-top: 27px;
	padding-bottom: 30px;
	padding-left: 70px;
	padding-right: 73px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filters fieldset {
	border: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-webkit-box-orient: vertical;	
	-webkit-box-direction: normal;	
	    -ms-flex-direction: column;	
	        flex-direction: column;
}

.filters legend {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 25px;
}

.filters label {
	display: block;
	padding-left: 40px;
	padding-bottom: 25px;
	position: relative;
}

.filters label:last-child {
	padding-bottom: 0;
}

.infrastructure {
	width: 165px;
	margin-right: 90px;
}

.accommodation {
	width: 165px;
	margin-right: 320px;
}

.infrastructure-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
}

.infrastructure-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	width: 27px;
	background-image: url(../img/checkbox-on.svg);
}


.infrastructure-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	outline: 2px solid #81b3d2;
}

.wrapper {
	width: 317px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	margin-left: auto;
}

.filter-range {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 91px;
	padding-left: 65px;
}

.price-controls .max-price {
	padding-left: 55px;
}


.price-controls input {
	width: 50px;
	height: 32px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin-left: 85px;
	padding: 6px 33px;
	font: inherit;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.sorting-block {
	padding: 30px 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.finded {
	width: 165px;
}

.finded p,
.hotels-description h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.sorting-left-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 660px;
	font-size: 12px;
	line-height: 18px;
}

.sorting-left-block p {
	margin: 0;
	margin-right: 40px;
	padding: 0;
	color: #000000;
}

.sorting-left-block a {
	color: rgba(0, 0, 0, 0.3);
	margin-right: 32px;
}

.sorting-block a.current-page {
	color: #81b3d2;
}

.sorting-left-block a:not(:first-of-type) {
	border-bottom: 1px dotted #81b3d2;
}

.sorting-left-block a:hover,
.sorting-left-block a:focus {
	color: #81b3d2;
}

.sorting-left-block a:active {
	color: rgba(0, 0, 0, 1.0);
} 

.sorting-right-block {
	min-width: 38px;
	margin-left: auto;
}

.sorting-right-block a {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	opacity: 0.3;
	width: 11px;
	height: 10px;
}

.sorting-right-block a:last-child {
	margin-left: 9px;
}

.sorting-right-block a:hover,
.sorting-right-block a:focus,
a.current-page {
	opacity: 1;
} 

a.current-page path,
a:active path {
	fill: #81b3d2;
}

.hotels {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	padding: 30px 73px;
	padding-bottom: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-image: url(../img/star.svg), url(../img/star.svg);
	background-position: 1110px 30px, 1087px 30px;
	background-repeat: no-repeat;
}

.four-stared {
	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-position: 1110px 30px, 1087px 30px, 1063px 30px, 1039px 30px;
	background-repeat: no-repeat;
}

.three-stared {
	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-position: 1110px 30px, 1087px 30px, 1063px 30px;
	background-repeat: no-repeat;
}

.hotels:last-of-type {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-foto {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 135px;
	margin-right: 29px;
}

.hotels-description {
	width: 650px;
}

.hotels-description h3 {
	position: relative;
	top: -5px;
	margin-bottom: 2px;
}

.description-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.description-left,
.description-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.description-left {
	margin-right: 6px;
}

.description-wrapper span {
	display: block;
	margin-bottom: 14px;
}

.hotels-rate {
	width: 240px;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	text-align: right;
}

.hotels-rate span {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	color: #666666;
	background-color: #f2f2f2;
	padding: 5px 13px;
}

a.hotel-name {	
	color: #000000;
}

a.hotel-name:hover,
a.hotel-name:focus {
	color: #81b3d2;
} 

a.hotel-name:active {	
	color: rgba(0, 0, 0, 0.3);
}

.details,
.book {
	font-weight: bold;
	color: #ffffff;
	padding: 3px 17px;
}

.details {
	background-color: #81b3d2;
}

.book {
	background-color: #766357;
}

a.details:hover,
a.details:focus {
	background-color: #669ec0;
} 

a.details:active {	
	background-color: #5496bd;
	color: rgba(255, 255, 255 ,0.3);
}

a.book:hover,
a.book:focus {
	background-color: #604e43;
} 

a.book:active {	
	background-color: #503e33;
	color: rgba(255, 255, 255 ,0.3);
}